/*|| RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body, html {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;

    min-height: 100%;
}

.page {
    flex: 1 1 auto;
}

/* || Variables */

:root {
    /* || Colors */
    --clr-primary-200: #636060;
    --clr-primary-300: #717171;

    --clr-accent-200: #499A18;
    --clr-accent-300: #E06733;

    --clr-neutral-200: #EDF2EC;
    --clr-neutral-300: #010201;

    /*|| Typography */
    --ff-primary: 'Inter', sans-serif;
    --ff-accent: 'Inika', serif;

    --ff-body: var(--ff-primary);
    --ff-nav: var(--ff-accent);
    --ff-heading-primary: var(--ff-primary);
    --ff-heading-secondary: var(--ff-accent);
    --ff-button-primary: var(--ff-primary);
    --ff-button-secondary: var(--ff-accent);

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;

    --fs-100: 0.9375rem; /*15px*/
    --fs-200: 1rem;
    --fs-300: 1.25rem; /*20px*/
    --fs-400: 1.5625rem; /*25px*/
    --fs-500: 2.1875rem; /*35px*/
    --fs-600: 2.5rem; /*40px*/
    --fs-700: 2.8125rem; /*45px*/

    --fs-nav: var(--fs-200);
    --fs-body: var(--fs-300);
    --fs-heading-primary: var(--fs-700);
    --fs-heading-secondary: var(--fs-600);

    --fs-button-primary: var(--fs-200);
    --fs-button-secondary: var(--fs-300);
}

/*|| General settings*/
body {
    max-width: 1440px;

    font-family: var(--ff-body);
    font-size: var(--fs-body);
    color: var(--clr-primary-200);
}

[class*="__container"] {
    max-width: 1250px;
    padding: 0px 15px;

    margin-inline: auto;
}

