/*|| RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body, html {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

/* || Variables */

:root {
    /* || Colors */
    --clr-primary-200: #636060;
    --clr-primary-300: #717171;

    --clr-accent-200: #499A18;
    --clr-accent-300: #E06733;

    --clr-neutral-200: #EDF2EC;
    --clr-neutral-300: #010201;

    /* || Typography */
    --ff-primary: 'Inter', sans-serif;
    --ff-accent: 'Inika', serif;

    --ff-body: var(--ff-primary);
    --ff-nav: var(--ff-accent);
    --ff-heading-primary: var(--ff-primary);
    --ff-heading-secondary: var(--ff-accent);
    --ff-button-primary: var(--ff-primary);
    --ff-button-secondary: var(--ff-accent);

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;

    --fs-100: 0.9375rem; /*15px*/
    --fs-200: 1rem; /*16px*/
    --fs-300: 1.25rem; /*20px*/
    --fs-400: 1.5625rem; /*25px*/
    --fs-500: 2.1875rem; /*35px*/
    --fs-600: 2.5rem; /*40px*/
    --fs-700: 2.8125rem; /*45px*/

    --fs-nav: var(--fs-200);
    --fs-body: var(--fs-200);
    --fs-heading-primary: var(--fs-400);
    --fs-heading-secondary: var(--fs-400);
    --fs-button-primary: var(--fs-100);
}

@media (min-width: 48em) {
    :root {
        --fs-heading-primary: var(--fs-500);
        --fs-heading-secondary: var(--fs-500);
    }
}

@media (min-width: 64em) {
    :root {
        --fs-body: var(--fs-300);
        --fs-heading-primary: var(--fs-700);
        --fs-heading-secondary: var(--fs-600);
        --fs-button-primary: var(--fs-200);
    }
}


/* || General settings*/

body {
    max-width: 1440px;
    font-family: var(--ff-body);
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;

    min-height: 100%;

    font-size: var(--fs-body);
    color: var(--clr-primary-200);

    overflow: hidden;
}

.page {
    flex: 1 1 auto;
}

[class*="__container"] {
    --max-width: 1220px;
    --padding: 1.5625rem;

    max-width: min(calc(100vw - var(--padding) * 2), var(--max-width));

    margin-inline: auto;
}

/* || Button */
.button {
    display: inline-block;

    padding: 1rem 2.5rem;

    font-family: var(--ff-accent);
    font-size: var(--fs-button-primary);

    border-radius: 1rem;
    outline: none;
    cursor: pointer;
}

.button--outlined {
    color: var(--clr-accent-300);

    background-color: transparent;
    border: 1px solid var(--clr-accent-300);
}

.button--outlined:hover {
    color: #FFFFFF;

    background-color: var(--clr-accent-300);
}

.button--outlined:active {
    color: #FFFFFF;

    filter: brightness(0.9);
}

/* || Header */

.header {
    position: relative;

    display: flex;
    align-items: center;

    padding: 2.8125rem 0 1.5rem 0;

    background-color: var(--clr-neutral-200);
}

@media (max-width: 48em) {
    .header {
        padding: 3.375rem 0;
    }
}

@media (min-width: 64em) {
    .header {
        padding: 3.75rem 0;
    }
}

.header__container {
    display: flex;
    align-items: flex-end;

    width: 100%;
}

.header__logo {
    display: flex;
    align-items: flex-end;

    font-family: var(--ff-accent);
    font-size: var(--fs-nav);
    color: var(--clr-neutral-300);
}

.header__nav {
    margin-left: auto;
}

/* || Burger */

.burger {
    position: relative;
    z-index: 1;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    width: 2.5rem;
    margin-left: auto;
}


.burger__line {
    display: block;

    width: 100%;

    border: 1px solid var(--clr-primary-300);
}

@media (max-width: 36em) {
    .header__nav {
        position: fixed;
        top: 0;
        left: 50%;

        width: 100%;
        height: 100%;

        padding-top: 6rem;

        background-color: var(--clr-neutral-200);

        transform: translateX(-50%);
    }

    .burger {
        display: flex;
    }
}

/* || Menu */

.menu {
    display: flex;
    justify-content: center;
}

.menu__list {
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
    row-gap: 1rem;


    padding: 0 1rem;
}

.menu__item {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.menu__link {
    display: block;

    font-family: var(--ff-nav);
    font-size: var(--fs-nav);
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-300);

    transition: 0.3s ease-in-out;
}

.menu__link:hover,
.menu__link:focus {
    text-shadow: 0 0.015em var(--clr-accent-300), 0 -0.015em var(--clr-accent-300), 0.01em 0 var(--clr-accent-300), -0.01em 0 var(--clr-accent-300);
    color: var(--clr-accent-300);
}

@media (max-width: 36em) {
    .menu__list {
        flex-direction: column;
    }
}


/* || Welcome */

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5625rem 0 1.875rem 0;

    background-color: var(--clr-neutral-200);
}

.welcome__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;

    width: 100%;
}

.welcome__leafs {
    display: none;

    flex-basis: 28em;
}

.welcome__body {
    flex-basis: 34.875em;
}

.welcome-body__title {
    margin-bottom: 1.25rem;

    color: var(--clr-primary-300);
    font-size: var(--fs-heading-primary);
    font-weight: var(--fw-bold);

    line-height: 110%;
}

.welcome-body__title em {
    color: var(--clr-accent-200);
}

.welcome-body__text {
    margin-bottom: 1.5em;

    line-height: 175%;
}

.welcome-body__button {
    text-transform: uppercase;
}

@media (min-width: 48em) {
    .welcome {
        padding: 2.5rem 0 6rem 0;
    }

    .welcome__container {
        flex-direction: row-reverse;
    }

    .welcome__leafs {
        display: block;

        max-width: 17.5em;
    }

    .welcome__body {
        max-width: 21.25em;
    }

    .welcome-body__text {
        font-size: var(--fs-200);
    }
}

@media (min-width: 64em) {
    .welcome {
        padding: 4.125rem 0 7.875rem 0;
    }

    .welcome__container {
        flex-direction: row;
    }

    .welcome-body__title {
        margin-bottom: 2.5rem;
    }

    .welcome-body__text {
        margin-bottom: 3.125rem;

        font-size: var(--fs-body);
    }
}

/* || About */

.about {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.875rem 0 2.1875rem 0;
}

.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.about__body {
    flex: 1;
}

.about__image {
    display: flex;
    justify-content: flex-end;

    flex: 1;
}

.about-body__title {
    margin-bottom: 1.25rem;

    text-align: center;
    color: var(--clr-accent-200);
    font-family: var(--ff-heading-secondary);
    font-size: var(--fs-heading-secondary);
    line-height: 130%;
}

.about-body__title em {
    color: var(--clr-accent-300);
}

.about-body__text {
    line-height: 150%;
}

@media (min-width: 48em) {
    .about {
        padding: 2.5rem 0 3.75rem 0;
    }

    .about__container {
        gap: 0;
    }

    .about-body__title {
        margin-bottom: 2.5rem;
    }

    .about-body__text {
        margin-bottom: 3.75rem;
    }
}


@media (min-width: 64em) {
    .about {
        padding: 5.125rem 0 6.5625rem 0;
    }

    .about__container {
        flex-direction: row;
        justify-content: space-between;
        gap: 2.5rem;
    }

    .about-body__text {
        margin-bottom: 0;
    }

    .about-body__title {
        margin-bottom: 2.5rem;
        text-align: left;
    }
}

/* || Services */

.services {
    padding: 2.1875rem 0 7.5rem;

    background-color: var(--clr-neutral-200);
}

.services__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8.875rem;

    margin-bottom: 6rem;
}

@media (max-width: 36em) {
    .services {
        padding: 3.75rem 0 4.375rem;
    }

    .services__header {
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5rem;

        margin-bottom: 2.5rem;
    }
}

.services__title {
    color: var(--clr-accent-200);
    font-family: var(--ff-heading-secondary);
    font-size: var(--fs-heading-secondary);
    line-height: 130%;
}

.services__buttons {
    display: flex;
    align-items: center;
    gap: 2.375rem;
}

.services__button {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 10rem;

    text-align: center;
}

@media (max-width: 36em) {
    .services__buttons {
        flex-wrap: wrap;
        gap: 0.625rem;
    }

    .services__button {
        max-width: 7.5rem;
    }
}

.services__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.375rem;
}

@media (max-width: 36em) {
    .services__cards {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }
}

@media (max-width: 48em) {
    .services__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

.service-card {
    max-width: 330px;

    border: 1px solid #E3E1D5;
    border-radius: 1.25rem;

    overflow: hidden;
}

.service-card__body {
    padding: 0.625rem 0px 2.25rem 0px;

    text-align: center;
}

.service-card__title {
    margin-bottom: 0.625rem;

    color: var(--clr-accent-300);
    font-weight: var(--fw-bold);
}

.service-card__text {
    padding-inline: 0.5rem;

    font-size: var(--fs-200);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}





